<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="collision.css">
</head>
<body>
    <!-- Jauge de chargement -->
    <div id="loading-screen">
        <div class="loader">
            <div class="progress-bar">
                <div class="progress" id="progress"></div>
            </div>
            <p id="loading-text">Chargement... 0%</p>
        </div>
    </div>

    <!-- Contenu principal -->
    <div class="outer_wrapper">
        <div class="wrapper"></div>
    </div>

    <script src="collision.js" defer></script>  
</body>
</html>
