@keyframes confetti {
    0% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(100px) scale(0.5);
    }
  }
  
  .confetti-effect {
    animation: confetti 2s forwards; /* Ajustez la durée et l'effet */
  }
  