body {
  background-color: #e8cfbc;
  margin: 0;
  font-family: Arial, sans-serif;
}

.projects-container {
  padding: 20px;
  background-color: #e8cfbc; /* Beige clair */
  color: #c8814c; /* Beige marron */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projects-title {
  font-size: 2.5rem;
  color: #d8a884; /* Beige intermédiaire */
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.project-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.project-row.row-reverse {
  flex-direction: row-reverse;
  gap: 50px;
}

.project-image-container {
  flex: 1;
  max-width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #d8a884;
}

.project-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.project-details {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  color: #c8814c;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-details h3 {
  font-size: 1.5rem;
  color: #d8a884;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.project-details p {
  font-size: 1rem;
  line-height: 1.6;
}

.project-details pre {
  background-color: #f7f2ec;
  color: #c8814c;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
}

.tech-stack {
  font-style: italic;
  color: #d8a884;
  text-align: center;
}

.project-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.project-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #c8814c;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-links a:hover {
  background-color: #d8a884;
}

@media (max-width: 768px) {
  .project-row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .project-image-container,
  .project-details {
    max-width: 90%;
    margin: 0 auto;
  }
}
