@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyFont';  
    src: url('./assets/myfont.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal;
  }
  